# General Kentik variables
KENTIK_API_EMAIL=foo@example.com
KENTIK_API_TOKEN=XXX_FILL_ME_IN
KENTIK_REGION=US

# The name of the interface that kprobe will monitor, e.g. eth0. 
# kprobe monitors only one interface per running instance.
KPROBE_DEVICE_INTERFACE=

# The device's IPv4 address configured as "Sending IP" in Kentik Portal
KPROBE_DEVICE_IP=


